<mat-toolbar>
  <button *ngIf="showMenuIcon; else showHomeIcon" mat-icon-button class="scaffold-icon" (click)="eventMenuHandler($event);" >
    <mat-icon>menu</mat-icon>
  </button>
  <ng-template #showHomeIcon>
    <button mat-icon-button class="scaffold-icon" (click)="homePage();">
      <mat-icon>home</mat-icon>
    </button>
  </ng-template>
  <span class="scaffold-spacer"></span>
  <mat-form-field class="input-half-width" *ngIf="!hideSearchInput">
    <input matInput (keyup)="onSearchFilter($event);" #inputSearchField>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <span class="scaffold-spacer"></span>
  <div class="account-icon">
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <div *ngIf="isUserLoggedIn">
      <div class="user-logged-details" mat-menu-item>
        Olá {{ userLoggedName }}
      </div>
      <mat-divider *ngIf="isUserLoggedIn"></mat-divider>
      <button mat-menu-item 
        (click)="redirectPage('/admin-management');" 
        *esHasPermission="'ADMINISTRATOR'">
        <span>Administradores</span>
      </button>
      <button mat-menu-item 
        (click)="redirectPage('/customer-management');" 
        *esHasPermission="['COMPANY', 'ADMINISTRATOR']">
        <span>Clientes</span>
      </button>
      <button mat-menu-item 
        [matMenuTriggerFor]="companies" 
        *esHasPermission="['COMPANY', 'ADMINISTRATOR']">
        <span>Empresas</span>
      </button>
      <button mat-menu-item 
        [matMenuTriggerFor]="products" 
        *esHasPermission="['COMPANY', 'ADMINISTRATOR']">
        <span>Produtos</span>
      </button>
      <button mat-menu-item 
        (click)="redirectPage('/user-management');"
        *esHasPermission="['CUSTOMER']">
        <mat-icon>perm_contact_calendar</mat-icon>
        <span>Meus dados</span>
      </button>
      <mat-divider *ngIf="isUserLoggedIn"></mat-divider>
    </div>
    <button mat-menu-item (click)="openLoginDialog();" *ngIf="!isUserLoggedIn">
      <mat-icon>login</mat-icon>
      <span>Entrar</span>
    </button>
    <button mat-menu-item (click)="logout();" *ngIf="isUserLoggedIn">
      <mat-icon>power_settings_new</mat-icon>
      <span>Sair</span>
    </button>
    <button mat-menu-item (click)="redirectPage('/registration');" *ngIf="!isUserLoggedIn">
      <mat-icon>person_add</mat-icon>
      <span>Cadastrar</span>
    </button>
  </mat-menu>

  <mat-menu #products="matMenu">
    <button mat-menu-item 
      (click)="redirectPage('/product-management');"
      *esHasPermission="['COMPANY', 'ADMINISTRATOR']">
      <mat-icon>event_seat</mat-icon>
      <span>Gerenciamento de produtos</span>
    </button>
    <button mat-menu-item 
        (click)="redirectPage('/product-category-management');"
        *esHasPermission="['ADMINISTRATOR']">
      <mat-icon>category</mat-icon>
      <span>Categorias</span>
    </button>
    <button mat-menu-item 
      (click)="redirectPage('/product-subcategory-management')"
      *esHasPermission="['ADMINISTRATOR']">
      <mat-icon>category</mat-icon>
      <span>Subcategorias</span>
    </button>
  </mat-menu>

  <mat-menu #companies="matMenu">
    <button mat-menu-item 
      (click)="redirectPage('/company-management');" 
      *esHasPermission="['ADMINISTRATOR']">
      <mat-icon>list</mat-icon>
      <span>Lista de empresas</span>
    </button>
    <button mat-menu-item (click)="redirectPage('/store-management');"
    *esHasPermission="['COMPANY','ADMINISTRATOR']">
      <mat-icon>store</mat-icon>
      <span>Lojas</span>
    </button>
  </mat-menu>
</mat-toolbar>
