.user-logged-details.mat-menu-item:first-child {
  font-size: 1.3rem;
  cursor: none;
  pointer-events: none;
}

span.icon-loggin > mat-icon {
  font-size: 4em;
  color: #1c3f90;
}

.scaffold-spacer {
  flex: 1 1 auto;
}

.input-half-width {
  height: 1.7em;
  background-color: whitesmoke;
  color: #4d5552;
  border-radius: 3px;
  padding-bottom: 5px;
  padding-right: .2em;
  padding-left: .2em;
}

.account-icon {
  border-left-width: thin;
  border-left-style: solid;
  padding: 0% 2%;
}

.menu-products {
  max-width: unset;
  width: 100%;
}

.menu-products mat-card {
  margin: 20px 0px !important;
}

.mat-card {
  margin: 10px;
  height: 12vh;
}

.mat-card-title {
  font-size: 1rem;
}

.mat-card-subtitle {
  margin-bottom: unset;
}

.mat-card-content {
  text-align: right;
  padding: 15px;
  text-overflow: unset;
}

.mat-icon-cart {
  color: #6d6d6d;
  font-size: 18px;
  width: 100%;
  position: absolute;
  text-align: right;
  top: 0;
}

.mat-icon-cart:hover {
  color: #313131;
  cursor: pointer;
}

.product-cart-info div {
  width: 30%;
  font-size: 1rem;
  font-weight: 300;
}

.product-cart-image {
  width: calc(50% + 40px);
  height: calc(90% - 20px);
}