
<div [ngClass]="{ 'popup': !isUserSynchronized }" *ngIf="isAccessAllowed && !isAdminUser">
  <span class="popuptext" [ngClass]="{ 'show': !isUserSynchronized, '': isUserSynchronized }">
    Atualize o seu cadastro <a (click)="redirectPage('/user-management');"
    *esHasPermission="['COMPANY', 'CUSTOMER']">aqui</a>.
  </span>
</div>
<mat-toolbar>
  <button *ngIf="showMenuIcon; else showHomeIcon" mat-icon-button class="scaffold-icon" (click)="eventMenuHandler($event);" >
    <mat-icon>menu</mat-icon>
  </button>
  <ng-template #showHomeIcon>
    <button mat-icon-button class="scaffold-icon" (click)="homePage();">
      <mat-icon>home</mat-icon>
    </button>
  </ng-template>
  <span class="scaffold-spacer"></span>
  <mat-form-field class="input-half-width" *ngIf="!hideSearchInput">
    <input matInput (keyup)="onSearchFilter($event);" #inputSearchField>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <span class="scaffold-spacer"></span>
  <div class="account-icon">
    <button mat-icon-button [matMenuTriggerFor]="shoppingCartItems" #menuTrigger="matMenuTrigger">
      <mat-icon matBadge="{{totalItemsShoppingCart ? totalItemsShoppingCart : null}}" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
  </div>
  <div class="account-icon">
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
      <mat-icon>account_circle</mat-icon>
      <mat-icon *ngIf="isAccessAllowed && !isAdminUser" id="user-warning-icon">priority_high</mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <div *ngIf="isUserLoggedIn">
      <div class="user-logged-details" mat-menu-item>
        Olá {{ userLoggedName }}
      </div>
      <mat-divider *ngIf="isUserLoggedIn"></mat-divider>
      <button mat-menu-item 
        (click)="redirectPage('/user-management');"
        *esHasPermission="['COMPANY', 'CUSTOMER']">
        <span>Perfil</span>
        <mat-icon *ngIf="isAccessAllowed && !isAdminUser" id="user-warning-icon">priority_high</mat-icon>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item 
        [disabled]="isAccessAllowed && !isAdminUser"
        (click)="redirectPage('/customer-management');" 
        *esHasPermission="['ADMINISTRATOR']">
        <span>Clientes</span>
      </button>
      <button mat-menu-item 
        [disabled]="isAccessAllowed && !isAdminUser"
        (click)="redirectPage('/store-management');"
        *esHasPermission="['COMPANY']">
        <span>Lojas</span>
      </button>
      <button mat-menu-item 
        [disabled]="isAccessAllowed && !isAdminUser"
        (click)="redirectPage('/purchase-management');"
        *esHasPermission="['COMPANY']">
        <span>Vendas</span>
      </button>
      <button mat-menu-item 
        [disabled]="isAccessAllowed && !isAdminUser"
        *esHasPermission="['ADMINISTRATOR']"
        (click)="redirectPage('/company-management');">
        <span>Empresas</span>
      </button>
      <button mat-menu-item 
        [disabled]="isAccessAllowed && !isAdminUser"
        *esHasPermission="['COMPANY', 'ADMINISTRATOR']"
        [matMenuTriggerFor]="products" 
        #menuTrigger="matMenuTrigger">
        <span>Produtos</span>
      </button>
      <mat-divider *ngIf="isUserLoggedIn"></mat-divider>
    </div>
    <button mat-menu-item (click)="login();" *ngIf="!isUserLoggedIn">
      <mat-icon>login</mat-icon>
      <span>Entrar</span>
    </button>
    <button mat-menu-item (click)="logout();" *ngIf="isUserLoggedIn">
      <mat-icon>power_settings_new</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>

  <mat-menu #products="matMenu">
    <button mat-menu-item
      (click)="redirectPage('/product-management');">
      <mat-icon>event_seat</mat-icon>
      <span>Gerenciamento de produtos</span>
    </button>
    <button mat-menu-item
      (click)="redirectPage('/stock-management');">
      <mat-icon>build</mat-icon>
      <span>Estoque</span>
    </button>
    <button mat-menu-item
        (click)="redirectPage('/product-category-management');">
      <mat-icon>category</mat-icon>
      <span>Categorias</span>
    </button>
    <button mat-menu-item
      (click)="redirectPage('/product-subcategory-management')">
      <mat-icon>category</mat-icon>
      <span>Subcategorias</span>
    </button>
  </mat-menu>

  <mat-menu #shoppingCartItems="matMenu" class="menu-products">
      <mat-card *ngFor="let product of productsInShoppingCart">
        <mat-icon class="mat-icon-cart" mat-icon-button (click)="removeProductFromCart(product);">close</mat-icon>
        <mat-card-title>
          {{ product?.name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ product.price | currency : 'BRL'}}
        </mat-card-subtitle>
        <mat-card-content>
          <img class="product-cart-image" *ngIf="product.productImages[0]?.picture; else showPlaceholderImage" mat-card-sm-image src="{{'data:image/png;base64,' + product.productImages[0]?.picture}}" alt="{{ product.name }}" title="{{ product.name }}">
          <ng-template #showPlaceholderImage>
            <img class="product-cart-image"  mat-card-sm-image src="../../../../../assets/product-image-placeholder.png" alt="{{ product.name }}">
          </ng-template>
        </mat-card-content>
      </mat-card>
    <div *ngIf="!totalItemsShoppingCart; else cartOptions">
      <button mat-menu-item>
        <mat-icon>sentiment_dissatisfied</mat-icon>
        <span>Nenhum produto selecionado</span>
      </button>
    </div>
    <ng-template #cartOptions>
      <div class="cart-options">
        <button mat-raised-button (click)="redirectToUserManagement();">
          <mat-icon mat-icon-button matTooltip="Finalizar compra" >shopping_basket</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="removeAllItensFromCart();" matTooltip="Remover itens do carinho">
          <mat-icon mat-icon-button >remove_shopping_cart</mat-icon>
        </button>
      </div>
    </ng-template>
  </mat-menu>
</mat-toolbar>
