<mat-toolbar>
  <button *ngIf="showMenuIcon; else showHomeIcon" mat-icon-button class="scaffold-icon" (click)="eventMenuHandler($event);" >
    <mat-icon>menu</mat-icon>
  </button>
  <ng-template #showHomeIcon>
    <button mat-icon-button class="scaffold-icon" (click)="homePage();">
      <mat-icon>home</mat-icon>
    </button>
  </ng-template>
  <span class="scaffold-spacer"></span>
  <mat-form-field class="input-half-width" *ngIf="showSearchInput">
    <input matInput (keyup)="onSearchFilter($event);">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <span class="scaffold-spacer"></span>
  <div class="user-logged-details">
    {{ userLoggedName }}
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu"> 
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu" >
    <button mat-menu-item 
      *ngIf="userLoggedName" 
      (click)="redirectPage('/customer-management');" 
      esHasPermission="COMPANY, ADMINISTRATOR">
      <span>Clientes</span>
    </button>
    <button mat-menu-item 
      [matMenuTriggerFor]="companies" 
      *ngIf="userLoggedName" 
      esHasPermission="COMPANY, ADMINISTRATOR">
      <span>Empresas</span>
    </button>
    <button mat-menu-item 
      *ngIf="userLoggedName" 
      [matMenuTriggerFor]="products" 
      esHasPermission="COMPANY, ADMINISTRATOR">
      <span>Produtos</span>
    </button>
    <button mat-menu-item 
      *ngIf="userLoggedName"
      (click)="redirectPage('/user-management');"
      esHasPermission="CUSTOMER">
      <mat-icon>perm_contact_calendar</mat-icon>
      <span>Meus dados</span>
    </button>
    <mat-divider *ngIf="userLoggedName"></mat-divider>
    <button mat-menu-item (click)="openLoginDialog();" *ngIf="!userLoggedName">
      <mat-icon>login</mat-icon>
      <span>Entrar</span>
    </button>
    <button mat-menu-item (click)="logout();" *ngIf="userLoggedName">
      <mat-icon>power_settings_new</mat-icon>
      <span>Sair</span>
    </button>
    <button mat-menu-item (click)="redirectPage('/registration');" *ngIf="!userLoggedName">
      <mat-icon>person_add</mat-icon>
      <span>Cadastrar</span>
    </button>
  </mat-menu>

  <mat-menu #products="matMenu">
    <button mat-menu-item *ngIf="userLoggedName">
      <mat-icon>event_seat</mat-icon>
      <span>Lista de produtos</span>
    </button>
    <button mat-menu-item *ngIf="userLoggedName"
        (click)="redirectPage('/product-category-management');"
        esHasPermission="ADMINISTRATOR">
      <mat-icon>category</mat-icon>
      <span>Categorias</span>
    </button>
    <button mat-menu-item 
      *ngIf="userLoggedName"
      (click)="redirectPage('/product-subcategory-management')"
      esHasPermission="ADMINISTRATOR">
      <mat-icon>category</mat-icon>
      <span>Subcategorias</span>
    </button>
  </mat-menu>

  <mat-menu #companies="matMenu">
    <button mat-menu-item 
      (click)="redirectPage('/company-management');" 
      *ngIf="userLoggedName"
      esHasPermission="ADMINISTRATOR">
      <mat-icon>list</mat-icon>
      <span>Lista de empresas</span>
    </button>
    <button mat-menu-item (click)="redirectPage('/store-management');" *ngIf="userLoggedName">
      <mat-icon>store</mat-icon>
      <span>Lojas</span>
    </button>
  </mat-menu>
</mat-toolbar>
