<div mat-dialog-title>
  Itens no carrinho
</div>
<div mat-dialog-content>
    <mat-list role="list" *ngIf="products.length">
      <div mat-subheader>Itens</div>
      <mat-list-item role="listitem" *ngFor="let product of products">
        <div mat-line>
          {{ product?.name }}
          <div class="item-price">
            {{ product?.price | currency : 'BRL' }}
          </div>
        </div>
        <div mat-line>
          <small> {{ product?.description }}</small>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>    
    </mat-list>
    <p class="shopping-cart-total" *ngIf="products.length">
      <span>Total:</span>
      <span>{{ cartTotal | currency : 'BRL' }}</span>
    </p>
</div>
<div mat-dialog-actions align="right">
  <button mat-raised-button mat-dialog-close>Fechar</button>
  <button mat-raised-button color="primary" (click)="saveOrder();">Salvar novo pedido</button>
</div>