<div mat-dialog-title>
  {{ stockItem?.id ? 'Alterar item do estoque' : 'Incluir item ao estoque' }}
</div>
<div mat-dialog-content *ngIf="stockItemForm">
  <form class="container-registration-form" [formGroup]="stockItemForm">
    <mat-form-field appearance="outline" class="input-full-width">
      <mat-label>Produto</mat-label>
      <mat-select formControlName="productId" id="productId">
        <mat-option *ngFor="let product of products" [value]="product.id">{{ product.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="productId.hasError('required')">Campo obrigatório</mat-error>
      <mat-error *ngIf="productId.hasError('productsNotFound')">Não há produtos cadastrados</mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Quantidade máxima</mat-label>
      <input type="text" matInput mask="separator.0" thousandSeparator="." formControlName="maxAmount" id="maxAmount">
      <mat-error *ngIf="maxAmount.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Quantidade mínima</mat-label>
      <input type="text" matInput mask="separator.0" thousandSeparator="." formControlName="minAmount" id="minAmount">
      <mat-error *ngIf="minAmount.hasError('required')">Campo obrigatório</mat-error>
      <mat-error *ngIf="minAmount.hasError('invalidValue')">Quantidade mínima deve ser maior que a quantidade máxima</mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Quantidade atual</mat-label>
      <input type="text" matInput mask="separator.0" thousandSeparator="." formControlName="currentAmount" id="currentAmount">
      <mat-error *ngIf="currentAmount.hasError('required')">Campo obrigatório</mat-error>
      <mat-error *ngIf="currentAmount.hasError('maxValueExceeded')">Não são permitidos valores acima do máximo</mat-error>
      <mat-error *ngIf="currentAmount.hasError('minValueExceeded')">Não são permitidos valores abaixo do mínimo</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="right">
  <button mat-raised-button mat-dialog-close>FECHAR</button>
  <button mat-raised-button color="primary" (click)="submitStockItem();">SALVAR</button>
</div>

