<div class="filter-container">
  <div class="title">
    Nossos produtos
  </div>
  <div class="filter-list-content" *ngIf="isListFiltererd">
    <span>Filtro: </span>
    <mat-chip-list>
      <mat-chip (removed)="removeFilter();">
        {{ categoryFiltered }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
<div class="container-list">
  <ul class="products-list">
    <p *ngIf="noProductsFound">Nenhum produto encontrado 
      <span *ngIf="categoryFiltered"> para a categoria <b>{{ categoryFiltered }}</b></span>.
    </p>
    <li *ngFor="let product of products" class="card-items">
        <mat-card >
          <mat-card-header>
            <div mat-card-avatar class="products-header-image"></div>
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle>{{ product.productSubcategoryName }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="product-price-info">
             Preço: {{ product.price | currency : 'BRL'}}
            </p>
          </mat-card-content>
        </mat-card>
    </li>
  </ul>
</div>

