.container-list {
  width: auto;
  display: flex;
  flex-shrink: 2;
  padding-left: 1vw;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-list-content {
  display: flex;
  align-items: center;
  width: 100vw;
  padding-left: 1vw;
}

.filter-list-content > span {
  margin-right: 1vw;
}

.products-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 2%;
  padding-inline-start: 0px;
}

.products-list > li {
  width: 35vw;
  display: flex;
  max-width: 400px;
  margin-top: 2vh;
  padding-right: 1vw;
}

.products-card {
  width: 100vw;
  max-width: 400px;
}

.products-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.product-price-info {
  font-size: 25px;
  font-weight: 300;
}