<div class="title">
  Produtos
</div>
<div class="container-list">
  <ul class="content-list" fxLayout="row wrap">
    <p *ngIf="noProductsFound">Nenhum produto encontrado 
      <span *ngIf="categoryFiltered"> para a categoria<b> {{ categoryFiltered }}</b></span>
    </p>
    <li *ngFor="let product of products" class="card-items">
        <mat-card class="mat-elevation-z4">
          <mat-icon mat-icon-button [matMenuTriggerFor]="cardOption" *esHasPermission="['COMPANY','ADMINISTRATOR']">more_vert</mat-icon>

          <mat-menu #cardOption="matMenu" >
            <button mat-menu-item (click)="openEditProduct(product);">
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="openRemoveProduct(product);">
              <span>Remover</span>
            </button>
            <button mat-menu-item (click)="openUploadProductImage(product);">
              <span>Adicionar foto</span>
            </button>
          </mat-menu>
          <mat-card-header>
            <div mat-card-avatar class="products-header-image"></div>
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle>{{ product.subcategoryName }}</mat-card-subtitle>
          </mat-card-header>
          <img *ngIf="product.productImages[0]?.picture; else showPlaceholderImage" mat-card-image src="{{'data:image/png;base64,' + product.productImages[0]?.picture}}" alt="{{ product.name }}" title="{{ product.name }}">
          <ng-template #showPlaceholderImage>
            <img mat-card-image src="../../../../assets/product-image-placeholder.png" alt="{{ product.name }}">
          </ng-template>
        </mat-card>
    </li>
  </ul>
</div>
<es-add-button (newClickEvent)="onAddNewProduct();" *esHasPermission="['COMPANY', 'ADMINISTRATOR']"></es-add-button>

