<div class="filter-container">
  <div class="title">
    Produtos
  </div>
  <div class="filter-list-content" *ngIf="isListFiltererd">
    <span>Filtro: </span>
    <mat-chip-list>
      <mat-chip (removed)="removeFilter();">
        {{ categoryFiltered }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
<div class="products-list">
  <ul class="content-list">
    <p *ngIf="noProductsFound">Nenhum produto encontrado 
      <span *ngIf="categoryFiltered"> para a categoria<b> {{ categoryFiltered }}</b></span>
    </p>
    <li *ngFor="let product of products" class="card-products-items">
        <mat-card >
          <mat-card-header>
            <div mat-card-avatar class="products-header-image"></div>
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle>{{ product.productSubcategoryName }}</mat-card-subtitle>
          </mat-card-header>
          <img *ngIf="product.productImages[0]?.picture; else showPlaceholderImage" mat-card-image src="{{'data:image/png;base64,' + product.productImages[0]?.picture}}" alt="{{ product.name }}">
          <ng-template #showPlaceholderImage>
            <img mat-card-image src="../../../../assets/product-image-placeholder.png" alt="{{ product.name }}">
          </ng-template>
          <mat-card-content>
            <p class="product-price-info">
             Preço: {{ product.price | currency : 'BRL'}}
            </p>
          </mat-card-content>
        </mat-card>
    </li>
  </ul>
</div>
<es-add-button (newClickEvent)="onAddNewProduct();"></es-add-button>

