<div class="title">
  Administradores
</div>
<div class="container-list">
  <ul class="content-list"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollUpDistance]="2"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll();">
    <p *ngIf="noAdministratorsFound && !administrators.length">
      Não há administradores para mostrar.
    </p>
    <li *ngFor="let admin of administrators" class="card-items">
      <mat-card>
        <mat-icon mat-icon-button [matMenuTriggerFor]="cardOption">more_vert</mat-icon>

        <mat-menu #cardOption="matMenu">
          <button mat-menu-item (click)="openEditAdmin(admin);">
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="openRemoveAdmin(admin);">
            <span>Remover</span>
          </button>
        </mat-menu>

        <mat-card-title>{{admin.name}}</mat-card-title>
        <mat-card-content>
          <p>
            <span>Email:</span>
            {{admin.email}}
          </p>
          <p>
            <span>
              {{ admin.active ? 'Email verificado' : 'Email não verificado' }}
              <mat-icon [ngStyle]="{ 'color': admin.active ? '#039e03' : '#d20808' }">
                {{ admin.active ? 'done' : 'clear' }}
              </mat-icon>
            </span>
          </p>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</div>
<es-add-button esHasPermission="ADMINISTRATOR" (newClickEvent)="onAddNewStore();"></es-add-button>
