mat-card-content p {
  font-size: 1rem;
  margin-block-start: 1%;
  margin-block-end: 0;
}

mat-card-content p:last-child {
  vertical-align: middle;
  font-size: 1rem;
}

mat-card-content span {
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

span > mat-icon {
  font-size: 1.5rem;
  vertical-align: middle;
  padding-right: 1px;
}