.stock-values-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.stock-values-container small {
  font-size: .7rem;
}

.stock-values-container .stock-status {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stock-status mat-icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}