<div class="title">
  Itens do estoque
  <div class="header-button">
    <button mat-raised-button color="primary" [routerLink]="['report', stockId]">
      Relatório de estoques
    </button>
  </div>
</div>
<div class="container-list">
  <ul class="content-list" 
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollUpDistance]="2"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll();" >
    <p *ngIf="stockItemsNotFound && !stockItems.length">
      Não há itens para mostrar.
    </p>
    <li *ngFor="let item of stockItems" class="card-items">
      <mat-card>
        <mat-icon mat-icon-button [matMenuTriggerFor]="cardOption" *esHasPermission="['COMPANY']">more_vert</mat-icon>

        <mat-menu #cardOption="matMenu">
          <button mat-menu-item (click)="openEditStockItem(item);">
            <span>Atualizar item do estoque</span>
          </button>
        </mat-menu>

        <mat-card-title>{{ item?.productName }}</mat-card-title>
        <mat-card-subtitle>{{ item?.stockName }}</mat-card-subtitle>
        <mat-card-content>
          <div class="stock-values-container">
            <p>
              Saldo atual: <span>{{ item?.currentAmount }}</span>
            </p>
            <div class="stock-status">
              <div [ngClass]="(stockItemIconStatus(item)['pulse']) ? 'icon-pulse' : ''">
                <mat-icon matTooltip="{{stockItemIconStatus(item)['message']}}">{{ stockItemIconStatus(item)['icon'] }}</mat-icon>
                </div>
              </div>
          </div>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</div>
<es-add-button *esHasPermission="['COMPANY']" (newClickEvent)="onAddNewItem();"></es-add-button>
