.stock-values-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.stock-values-container small {
  font-size: .7rem;
}

.stock-values-container .stock-status {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stock-status mat-icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.icon-pulse {
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}