.profile-container {
  margin: 2% 15%;
}

.info-panel .mat-expansion-panel-header-title,
.info-panel .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.info-panel .mat-expansion-panel-header-description {
  justify-content: flex-end;
  color: #3e3838;
  font-size: 26px;
}

.mat-card {
  margin: 1% 0%;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-general-information {
  margin: 1%;
  height: 100%;
}

.card-user-info {
  width: 35%;
}

.card-user-cart {
  width: 55%;
  max-height: 30vh;
}

.mat-expansion-panel-header {
  padding-left: 0px;
}

mat-card > mat-card-content > mat-selection-list > mat-list-option {
  height: 50px;
}

.mat-card-content#cart-content-list {
  overflow-y: auto;
  margin-bottom: 0px;
  max-height: 20vh;
  min-height: 20vh;
}

.mat-card-footer {
  display: unset;
}

@media screen and (min-width: 280px) and (max-width: 570px) {
  .card-user-info,
  .card-user-cart {
    width: 100%;
    margin: 1%;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .card-user-info,
  .card-user-cart {
    width: 100%;
    margin: 1%;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) and (orientation: landscape) {
  .card-user-info,
  .card-user-cart {
    width: 100%;
    margin: 1%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1366px) {
  .card-user-info,
  .card-user-cart {
    width: 100%;
    margin: 1%;
  }
}