<div class="card-items">
  <mat-card class="mat-elevation-z2">
    <mat-card-title>
      {{ currentUserCompleteName }}
    </mat-card-title>
    <mat-card-content>
      <p>
        <span>Nome:</span> {{ currentUsername }}
      </p>
      <p>
        <span>Email:</span> {{ currentUserEmail }}
      </p>
      <p>
        <button mat-raised-button color="primary" (click)="openCustomerProfileForm();">Atualizar informações</button>
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z2">
    <mat-card-content>
      <mat-card-title>
        <mat-icon>my_location</mat-icon> Endereços
      </mat-card-title>
      <mat-accordion class="info-panel">
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ver endereços
            </mat-panel-title>
            <mat-panel-description>
                <mat-icon (click)="addNewAddress($event);"  matTooltip="Incluir novo endereço">add_location_alt</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <es-address-list [shouldUpdateList]="updateAddressSubject.asObservable()"></es-address-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z2">
    <mat-card-content>
      <mat-card-title>
        <mat-icon>credit_card</mat-icon> Cartões de crédito
      </mat-card-title>
      <mat-accordion class="info-panel">
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ver cartões de crédito
            </mat-panel-title>
            <mat-panel-description>
                <mat-icon (click)="addNewCreditCard($event);"  matTooltip="Incluir novo cartão de crédito">add</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <es-credit-card-list [shouldUpdateList]="updateCreditCardSubject.asObservable()"></es-credit-card-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>