<div class="cards-container">
  <mat-card class="card-user-info mat-elevation-z2" [ngStyle]="{'width': (isCustomerUser ? '35%' : '95%')}">
    <mat-card-title>
      {{ currentUserCompleteName }}
    </mat-card-title>
    <mat-card-content>
      <p>
        <span>Nome:</span> {{ currentUsername }}
      </p>
      <p>
        <span>Email:</span> {{ currentUserEmail }}
      </p>
      <p>
        <button mat-stroked-button color="primary" (click)="openProfileForm();">Atualizar informações
          <mat-icon *ngIf="!isUserSynchronized" [style.color]="!isUserSynchronized ? 'red' : 'black'">priority_high</mat-icon>
        </button>
      </p>
      <div class="sync-alert" *ngIf="!isUserSynchronized">* Suas informações estão incompletas.</div>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="card-user-cart mat-elevation-z2" *esHasPermission="['CUSTOMER']">
    <mat-card-title>Seu carrinho de compras</mat-card-title>
    <mat-card-content id="cart-content-list">
      <mat-list *ngIf="products; else emptyShoppingCart" (selectionChange)="viewSelected($event)">
        <mat-list-item *ngFor="let product of products">
          <mat-icon mat-list-icon>arrow_right</mat-icon>
          <div mat-line>{{ product?.name }}</div>
          <div mat-line> {{ product.price | currency : 'BRL'}} </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <ng-template #emptyShoppingCart>
      <mat-card-content>
        <mat-selection-list>
          <p>Não há itens no carrinho.</p>
        </mat-selection-list>
      </mat-card-content>
    </ng-template>
    <mat-card-actions align="right">
      <button mat-stroked-button color="primary" (click)="handleProductsSelected();" [disabled]="!products?.length">Ver todos</button>
      <button mat-stroked-button color="warn" (click)="removeItemsFromCart();" [disabled]="!products?.length">
        Remover itens.
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="user-general-information">
  <mat-card class="mat-elevation-z2">
    <mat-card-content>
      <mat-card-title>
        Endereços
      </mat-card-title>
      <mat-accordion class="info-panel">
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
             <button mat-stroked-button color="primary">
              <mat-icon>my_location</mat-icon>
              Ver endereços
             </button> 
            </mat-panel-title>
            <mat-panel-description>
                <mat-icon (click)="addNewAddress($event);"  matTooltip="Incluir novo endereço">add_location_alt</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <es-address-list [shouldUpdateList]="updateAddressSubject.asObservable()"></es-address-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  <div *esHasPermission="'CUSTOMER'">
    <mat-card class="mat-elevation-z2">
      <mat-card-content>
        <mat-card-title>
          Cartões de crédito
        </mat-card-title>
        <mat-accordion class="info-panel">
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button mat-stroked-button color="primary">
                  <mat-icon>credit_card</mat-icon> 
                  Ver cartões de crédito
                </button>
              </mat-panel-title>
              <mat-panel-description>
                  <mat-icon (click)="addNewCreditCard($event);"  matTooltip="Incluir novo cartão de crédito">add</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <es-credit-card-list [shouldUpdateList]="updateCreditCardSubject.asObservable()"></es-credit-card-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z2">
      <mat-card-content>
        <mat-card-title>
          Meus pedidos
        </mat-card-title>
        <mat-accordion class="info-panel">
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button mat-stroked-button color="primary">
                  <mat-icon>done_all</mat-icon> 
                  Ver pedidos
                </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <es-order-list [shouldUpdateList]="updateOrderSubject.asObservable()"></es-order-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>