.profile-container {
  margin: 2% 15%;
}

.info-panel .mat-expansion-panel-header-title,
.info-panel .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.info-panel .mat-expansion-panel-header-description {
  justify-content: flex-end;
  color: #3e3838;
  font-size: 26px;
}

.mat-card {
  margin: 1% 0%;
}

@media screen and (max-width: 1366px) and (min-width: 571px) {
  .card-items {
    width: auto;
  }
}