<div class="title">
  Subcategorias
  <es-export-file 
    *esHasPermission="['ADMINISTRATOR']"
    (exportFileEvent)="loadAllSubcategories();" 
    [data]="subcategoriesToExport" 
    [headers]="csvHeaders"></es-export-file>
</div>
<div class="container-list">
  <ul class="content-list" 
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollUpDistance]="2"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll();" >
    <p *ngIf="noSubcategoriesFound && !subcategories.length">
      Não há subcategorias para mostrar.
    </p>
    <li *ngFor="let subcategory of subcategories" class="card-items">
      <mat-card>
        <mat-icon mat-icon-button [matMenuTriggerFor]="cardOption" *esHasPermission="['ADMINISTRATOR']">more_vert</mat-icon>

        <mat-menu #cardOption="matMenu">
          <button mat-menu-item (click)="openEditSubcategory(subcategory);">
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="openRemoveSubcategory(subcategory);">
            <span>Remover</span>
          </button>
        </mat-menu>

        <mat-card-title>{{subcategory.name}}</mat-card-title>
        <mat-card-subtitle>Categoria: {{subcategory.productCategoryName}}</mat-card-subtitle>
      </mat-card>
    </li>
  </ul>
</div>
<es-add-button *esHasPermission="['ADMINISTRATOR']" (newClickEvent)="onAddNewSubcategory();"></es-add-button>
