<div mat-dialog-content class="login-form-content">
  <img src="../../assets/logo.png" alt="Easy Shopping">
  <form class="container-form" [formGroup]="loginForm" >
    <mat-form-field class="input-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" id="email"
             placeholder="mail@example.com">
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" id="password" type="password">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="center">
  <div class="login-buttons">
    <button mat-raised-button (click)="onCloseDialog();">CANCELAR</button>
    <button mat-raised-button color="primary" (click)="onSubmitLogin();">ACESSAR</button>
  </div>
</div>
