<div mat-dialog-title>
  Login
</div>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="loginForm" >
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" id="email"
             placeholder="mail@example.com">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" id="password" type="password">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCloseDialog();">CANCELAR</button>
  <button mat-raised-button color="primary" (click)="onSubmitLogin();">ACESSAR</button>
</div>
