.login-form-content {
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
}

.login-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}