<div mat-dialog-content class="login-form-content" *ngIf="loginForm">
  <img src="../../assets/logo.png" alt="Easy Shopping">
  <form class="container-form" [formGroup]="loginForm" >
    <mat-form-field class="input-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" id="email"
             placeholder="mail@example.com">
      <mat-error *ngIf="emailControl.hasError('required')">Campo obrigatório.</mat-error>
      <mat-error *ngIf="emailControl.hasError('email')">Formato do email é inválido.</mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" id="password" type="password">
      <mat-error *ngIf="passwordControl.hasError('required')">Campo obrigatório.</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="center">
  <div class="login-buttons" *ngIf="!isValidatingLogin; else showLoadingSpinner">
    <button mat-raised-button (click)="onCloseDialog();">CANCELAR</button>
    <button mat-raised-button color="primary" (click)="onSubmitLogin();">ACESSAR</button>
  </div>
  <ng-template #showLoadingSpinner>
    <div class="loading">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </ng-template>
</div>
