<div class="title">
  Lojas
</div>
<div class="container-list">
  <ul class="content-list" 
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollUpDistance]="2"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll();" >
    <p *ngIf="noStoreFound && !stores.length">
      Não há lojas para mostrar.
    </p>
    <li *ngFor="let store of stores" class="card-items">
      <mat-card>
        <mat-icon mat-icon-button [matMenuTriggerFor]="cardOption">more_vert</mat-icon>

        <mat-menu #cardOption="matMenu">
          <button mat-menu-item (click)="openEditStore(store);">
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="openRemoveStore(store);">
            <span>Remover</span>
          </button>
        </mat-menu>

        <mat-card-title>{{store.name}}</mat-card-title>
        <mat-card-content>
          <p>
            <span>Nome fantasia:</span>
            {{store.corporateName}}
          </p>
          <p>
            <span>CNPJ:</span>
            {{store.registeredNumber  | mask: '00.000.000/0000-00'}}
          </p>
          <p *ngIf="isAdminUser">
            <span>Empresa: </span>
            {{ store.companyName }}
          </p>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</div>
<es-add-button *esHasPermission="['COMPANY']" (newClickEvent)="onAddNewStore();"></es-add-button>
