<div class="title">
  Categorias de produtos
</div>
<div class="container-list">
  <ul class="content-list" 
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollUpDistance]="2"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll();" >
    <p *ngIf="dataNotFound && !productCategories.length">
      Não há categorias cadastradas.
    </p>
    <li *ngFor="let category of productCategories" class="card-items">
      <mat-card>
        <mat-icon mat-icon-button [matMenuTriggerFor]="cardOption">more_vert</mat-icon>

        <mat-menu #cardOption="matMenu">
          <button mat-menu-item (click)="openEditCategory(category);">
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="openRemoveCategory(category);">
            <span>Remover</span>
          </button>
        </mat-menu>

        <mat-card-title>{{category.name}}</mat-card-title>
      </mat-card>
    </li>
  </ul>
  <div *ngIf="isLoadingProductCategories" class="loading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</div>
<es-add-button (newClickEvent)="onAddNewProductCategory();"></es-add-button>
