<div mat-dialog-title>
 Pedido: {{ order.orderNumber }}
</div>
<div  mat-dialog-content>
  <mat-list role="list" *ngIf="orderItems.length">
    <div mat-subheader>Itens</div>
    <mat-list-item role="listitem" *ngFor="let item of orderItems">
      <div matLine>{{ item.productName }}</div>
      <div matLine>
        Quantidade: <span>{{ item.amount }}</span>
      </div>
      <div matLine>
        Preço: <span>{{ item.price | currency : 'BRL'  }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
<div mat-dialog-actions align="right">
  <button mat-dialog-close mat-raised-button>Fechar</button>
  <button mat-raised-button color="primary">Finalizar compra</button>
</div>
