<div mat-dialog-title>
  Complete seus dados
</div>
<div mat-dialog-content *ngIf="customerForm">
    <form class="customer-form" [formGroup]="customerForm">
      <mat-form-field class="input-full-width">
        <mat-label>CPF</mat-label>
        <input type="text" matInput formControlName="cpf" id="cpf" mask="000.000.000-00">
        <mat-error *ngIf="cpf.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="right">
  <button mat-raised-button mat-dialog-close>FECHAR</button>
  <button mat-raised-button color="primary" (click)="onSubmitCustomer();">SALVAR</button>
</div>