.customer-form {
  padding: 1% 9%;
}

.actions-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  width: 10vw;
  height: 6vh;
}