/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden;}

.mat-toolbar {
  background-color: #50a591;
  color: whitesmoke;
  font: 400 26px Roboto, "Helvetica Neue", sans-serif;
}

.es-dialog {
  max-width: 100vw !important;
  width: 530px !important;
}

.es-small-dialog {
  max-width: 100vw !important;
  width: 400px !important;
}

.es-large-dialog {
  max-width: 80vw !important;
  width: 100% !important;
}

.mat-dialog-title {
  color: #101c36;
  font-family: Roboto;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  height: auto;
  letter-spacing: 0.35px;
  line-height: normal;
}

.mat-dialog-actions {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  padding-right: 5px !important;
  display: block !important;
  flex-wrap: unset !important;
}

.mat-dialog-content {
  overflow-x: hidden !important;
  position: relative;
}

.registration-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.registration-title {
  width: 50%;
  margin-left: 1vw;
  margin-top: 1vw;
  margin-bottom: auto;
  font-weight: 100;
  font-size: 38px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.registration-subtitle {
  width: 50%;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-weight: 100;
  font-size: 25px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.registration-option {
  width: 50%;
  height: 4vh;
  text-align: right;
  margin-right: 3vw;
  margin-top: 1.5vw;
  font-size: 20px;
  font-weight: 100;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.registration-option > a {
  color: #1515d0e0;
  cursor: pointer;
}

.page-form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
  margin-right: 20vw;
  margin-left: 20vw;
}

.container-registration-form {
  padding: 5% 10%;
}

.container-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-full-width {
  width: 100%;
  margin: 2% 0%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.input-half-width {
  width: 48%;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-full-width .mat-icon:hover {
  cursor: pointer;
}

.title {
  color: #434c49f2;
  width: 100%;
  margin-left: 1vw;
  margin-top: 1vw;
  margin-bottom: auto;
  font-weight: 100;
  font-size: 38px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-list {
  width: 100%;
  display: flex;
  flex-shrink: 2;
  margin-top: 1vw;
  padding-left: 1vw;
  flex-wrap: wrap;
}

.card-items {
  border-radius: 5px;
  height: auto;
  margin-bottom: 25px;
  margin-right: 25px;
  box-shadow: 0 3px 8px 0 rgba(62, 100, 146, 0.16);
  background-color: white;
}

.content-list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.content-list p {
  font-size: 26px;
  font-weight: 100;
}

.mat-card {
  border-radius: 5px !important;
  padding: 16px 30px 10px !important;
}

.mat-card > .mat-icon {
  position: absolute;
  right: 0;
}

.mat-card > .mat-icon:hover {
  cursor: pointer;
}

.mat-card-title,
.mat-card-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #ada5a5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.mat-drawer-content {
  height: 100vh !important;
}

.fab-button {
  bottom: 0;
  position: absolute;
  right: 0;
  margin-right: 2%;
  margin-bottom: 2%;
}

.fab-button .mat-fab.mat-primary {
  background-color: #50a5918c;
}

.fab-button .mat-fab.mat-primary:hover {
  background-color: #50a591;
}

@media screen and (min-width: 250px) and (max-width: 720px) {

  .mat-drawer-content {
    padding-left: 15px;
  }

}

@media screen and (orientation: landscape) and (min-height: 250px) and (max-height: 500px) {
  .mat-dialog-actions {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .mat-dialog-content {
    max-height: 60vh !important;
  }

  .mat-dialog-content#dialog-table {
    overflow-x: scroll !important;
  }
}

@media screen and (min-width: 250px) and (max-width: 530px) {

  .es-small-dialog,
  .es-dialog,
  .es-large-dialog {
    width: 100vw;
  }

  .es-large-dialog {
    max-width: unset !important;
  }

  .mat-dialog-title {
    font-size: 20px !important;
    width: 100% !important;
  }
}

@media screen and (min-width: 250px) and (max-width: 800px) {
  .mat-dialog-content#dialog-table {
    overflow-x: scroll !important;
  }
}

@media screen and (min-width: 280px) and (max-width: 570px) {
  .card-items {
    width: calc(100% - 15px);
    margin: 10px 13px 10px 2px !important;
  }

  .mat-card-title {
    width: 85%;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) and (orientation: landscape) {
  .card-items {
    width: calc(100% - 25px);
  }
}

@media screen and (min-width: 571px) and (max-width: 1366px) {
  .card-items {
    width: calc(50% - 25px);
  }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
  .card-items {
    width: calc(33.3333333% - 25px);
  }
}

@media screen and (min-width: 1921px) and (max-width: 2160px) {
  .card-items {
    width: calc(25% - 25px);
  }
}

@media screen and (min-width: 2161px) {
  .card-items {
    width: calc(20% - 25px);
  }
}
