.logo-image {
  width: auto;
  height: 12vh;
  margin-bottom: 15%;
}

.scaffold-spacer {
  flex: 1 1 auto;
}

.scaffold-container {
  width: auto;
  height: 100%;
}

.scaffold-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  color: rgba(0,0,0,.87);
}

.scaffold-sidenav {
  padding: 0px;
}

.main {
  flex: 1 1 auto;
}

.categories-list {
  padding-inline-start: 3%;
  list-style: none;
  /* display: flex; */
  /* flex-direction: row;
  padding-right: 5%;
  flex-wrap: wrap; */
}

.categories-list > li {
  padding: 10px 0px;
  /* display: flex; */
  /* justify-content: space-between; */
  width: 100%;
}

.categories-list > .category-item:hover {
  font-weight: 400;
  cursor: pointer;
}

.item-option {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.categories-list > .item-option > span{
  color: black;
  padding-left: 10%;
  text-decoration: none;
}

.categories-list mat-icon {
  color: #bbbbbf;
}

.subcategory-item {
  margin-left: 1vw;
  font-size: 16px;
  font-weight: 300;
}

.subcategory-item:hover {
  /* padding-left: 10%; */
  /* background-color: #f8f6f6; */
  font-weight: 400;
  cursor: pointer;
}

.subcategory-item > li a {
  padding-left: 20%;
}