.logo-image {
  width: calc(100% - 10px);
  height: calc(30% - 10px);
  cursor: pointer;
  max-height: 150px;
  max-width: 250px;
}

.scaffold-container {
  width: auto;
  height: 100%;
}

.scaffold-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  color: rgba(0,0,0,.87);
}

.scaffold-sidenav {
  padding: 0px;
}

.main {
  flex: 1 1 auto;
  height: 100vh !important;
  overflow-y: auto;
  overflow-x: hidden !important;
}

.categories-list {
  padding-inline-start: 3%;
  list-style: none;
}

.categories-list > li {
  padding: 10px 0px;
  width: 100%;
}

.categories-list > .category-item:hover {
  font-weight: 400;
  cursor: pointer;
}

.item-option {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.categories-list > .item-option > span{
  color: black;
  padding-left: 10%;
  text-decoration: none;
}

.categories-list mat-icon {
  color: #bbbbbf;
}

.subcategory-item {
  font-size: 16px;
  font-weight: 400;
}

.subcategory-item:hover {
  font-weight: 400;
  cursor: pointer;
}

.subcategory-item > li a {
  padding-left: 20%;
}