<mat-drawer-container class="scaffold-container" autosize>
  <mat-drawer #drawer class="scaffold-sidenav" mode="side">
    <img  (click)="router.navigate(['/'])" src="../../assets/logo.png" alt="Easy Shopping" class="logo-image">
    <mat-divider></mat-divider>
    <ul class="categories-list">
      <li class="category-item"  *ngIf="!productsCategories.length && !isLoadingCategories">Não há categorias cadastradas</li>
      <li class="category-item" *ngFor="let productCategory of productsCategories">
        <div class="item-option" (click)="getSubcategory(productCategory)">
          <span>{{ productCategory.name }}</span><mat-icon>{{ (changeArrowIcon && !productCategory.enabled ) ? 'keyboard_arrow_right' : 'keyboard_arrow_down' }}</mat-icon>
        </div>
        <ul class="categories-list" *ngIf="subcategories.length && productCategory.enabled">
          <li class="subcategory-item" *ngFor="let sub of subcategories">
            <a (click)="subcategorySelected(sub)">{{ sub.name }}</a>
          </li>
        </ul>
      </li>
      <li class="category-item">
        <div *ngIf="isLoadingCategories" class="loading">
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <es-toolbar (menuEvent)="handlerEventMenu($event)"></es-toolbar>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>