<mat-drawer-container class="scaffold-container" autosize>
  <mat-drawer #drawer class="scaffold-sidenav" mode="side">
    <img  (click)="router.navigate(['/'])" src="../../assets/logo.png" alt="Easy Shopping" class="logo-image">
    <mat-divider></mat-divider>
    <div class="profile-access">
      <span class="icon-loggin">
        <mat-icon>account_circle</mat-icon>
      </span>
      <span class="menu-icon" *ngIf="userLoggedName">
        <mat-icon>more_vert</mat-icon>
      </span>
      <div class="login">
        <button *ngIf="userLoggedName" mat-raised-button color="primary" (click)="logout();">Sair</button>
        <button *ngIf="!userLoggedName" mat-raised-button color="primary" (click)="onRedirectSignUp();">Cadastrar</button>
        <button *ngIf="!userLoggedName" mat-stroked-button color="primary" (click)="openLoginDialog();">Acessar</button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <ul class="categories-list">
      <li class="category-item" *ngFor="let productCategory of productsCategories">
        <div class="item-option" (click)="getSubcategory(productCategory)">
          <span>{{ productCategory.name }}</span><mat-icon>{{ (changeArrowIcon && !productCategory.enabled ) ? 'keyboard_arrow_right' : 'keyboard_arrow_down' }}</mat-icon>
        </div>
        <ul class="categories-list" *ngIf="subcategories.length && productCategory.enabled">
          <li class="subcategory-item" *ngFor="let sub of subcategories">
            <a (click)="subcategorySelected(sub)">{{ sub.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <es-toolbar (menuEvent)="handlerEventMenu($event)"></es-toolbar>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>