<div mat-dialog-title>
  Editar {{ company?.name }}
</div>
<div mat-dialog-content *ngIf="companyForm">
  <form class="container-registration-form" [formGroup]="companyForm">
    <mat-form-field class="input-full-width">
      <mat-label>Nome</mat-label>
      <input type="text" matInput formControlName="name" id="name">
      <mat-error *ngIf="name.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>CNPJ</mat-label>
      <input matInput formControlName="registeredNumber" id="cpf" mask="00.000.000/0000-00">
      <mat-error *ngIf="registeredNumber.hasError('required')">Campo obrigatório</mat-error>
      <mat-error *ngIf="registeredNumber.hasError('mask')">
        CNPJ está fora do padrão permitido.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="email" id="email">
      <mat-error *ngIf="email.hasError('required')">Campo obrigatório</mat-error>
      <mat-error *ngIf="email.hasError('email')">Email inválido</mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="phone" id="phone" mask="(00) 00000-0000">
      <mat-error *ngIf="phone.hasError('required')">Campo obrigatório</mat-error>
      <mat-error *ngIf="phone.hasError('mask')">
        Telefone está fora do padrão permitido.
      </mat-error>
    </mat-form-field>
    <div class="actions-container">
      <ng-template #showLoading>
        <div class="loading">
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      </ng-template>
    </div>
  </form>
</div>
<div mat-dialog-actions align="right">
  <button mat-raised-button mat-dialog-close>FECHAR</button>
  <button mat-raised-button color="primary" (click)="submitCompanyUpdated();">SALVAR</button>
</div>