<es-toolbar [showMenuIcon]="false"></es-toolbar>
<es-registration-header [isCustomerOption]="true"></es-registration-header>
<div class="page-form-content">
  <div class="registration-subtitle">
    Complete os dados da sua empresa
  </div>
  <mat-card class="card-form" *ngIf="companyForm">
    <form class="container-registration-form" [formGroup]="companyForm">
      <mat-form-field class="input-full-width">
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="name" id="name">
        <mat-error *ngIf="name.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>
      <div class="input-full-width">
        <mat-form-field class="input-half-width">
          <mat-label>CNPJ</mat-label>
          <input type="text" matInput formControlName="registeredNumber" id="registeredNumber" mask="00.000.000/0000-00">
          <mat-error *ngIf="registeredNumber.hasError('required')">Campo obrigatório</mat-error>
          <mat-error *ngIf="registeredNumber.hasError('mask')">CNPJ com formato inválido</mat-error>
        </mat-form-field>
        <mat-form-field class="input-half-width">
          <mat-label>Telefone</mat-label>
          <input type="text" matInput formControlName="phone" id="phone" mask="(000) 00000-0000||(000) 0000-0000">
          <mat-error *ngIf="phone.hasError('required')">Campo obrigatório</mat-error>
          <mat-error *ngIf="phone.hasError('mask')">Telefone com formato inválido</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field class="input-full-width">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" id="email">
        <mat-error *ngIf="email.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>
      <div class="input-full-width">
        <mat-form-field class="input-half-width">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="password" id="password">
          <mat-error *ngIf="password.hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field class="input-half-width">
          <mat-label>Confirmar senha</mat-label>
          <input type="password" matInput formControlName="confirmPassword" id="confirmPassword">
          <mat-error *ngIf="confirmPassword.hasError('required')">Campo obrigatório</mat-error>
          <mat-error *ngIf="confirmPassword.hasError('notMatch')">Campo senha e confirmar senha não são iguais</mat-error>
        </mat-form-field>
      </div>
      <div class="actions-container">
        <div class="submit-user-container" *ngIf="!isWaitingResponse; else showLoading">
          <button mat-raised-button color="primary" (click)="onSubmitCompany();">SALVAR</button>
        </div>
        <ng-template #showLoading>
          <div class="loading">
            <mat-spinner diameter="50"></mat-spinner>
          </div>
        </ng-template>
      </div>
    </form>
  </mat-card>
</div>